
main {
    padding: 1em;
}


section {
    margin: 1em 1em;
    text-align: left;
}

section p {
    text-align: left;
    font-size: 12pt;
}

section h2 {
    text-align: left;
    font-size: 20pt;
    margin-bottom: 1em;
    color: var(--primary);
}


p {
    color: var(--grey-text-light);
}

